<div class="container">
    <div class="jumbotron">
        <h1 class="text-center">Welcome to RETASC</h1>
    </div>
    <div class="row ">
        <div class="col-md-6">
            <div class="well">

            </div>
        </div>
        <div class="col-md-6">
            <div class="well">
                <% if user_signed_in? %>
                    <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: 'btn btn-primary navbar-btn' %>
                    <%= link_to "Edit your profile", edit_user_profile_path(current_user) if current_user %> 
                <% else %>
                  <%= link_to "Log In", new_user_session_path, class: 'btn btn-primary navbar-btn', method: :get %>
                  <%= button_to "Sign Up", new_user_registration_path, class: 'btn btn-primary navbar-btn', method: :get %>
                <% end %>
                
            </div>
        </div>
    </div>
</div>