<div class="container">
    <div class="jumbotron">
        <h1 class="text-center">Welcome to RETASC</h1>
    </div>
    <div class="row ">
        <div class="col-md-6">
            <div class="well">
                <%= button_to  'View your tasks', tasks_path ,method: :get,  class: 'btn btn-primary navbar-btn'%>
                <%= button_to  'Create new task', new_task_path , method: :get, class: 'btn btn-primary navbar-btn'%>
            </div>
        </div>
    </div>
</div>